.header {
    background-color: #FFF8F3;
}

body {
    font-family: "Open Sans", serif;

}

nav {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 50px; */
    margin: 0px 200px;
    align-items: center;

}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    /* margin-right: 200px; */
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li {
    /* margin-right: 10px; */
    margin-right: 51px;
}

.title {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.title-name {
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.text-primary{
    color: #FD6E0A;
}
.title-description {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 585px;
}

.nav-title {
    color: #000000;
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 33px;
    color: #FFF8F3;
    border: 0px;
}

.btn-sec {
    /* border-radius: 5px; */
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background: #FFF8F3;
    padding: 15px 33px;
    color: #FD6E0A;
    /* border: 0px; */
}

.main-img {
    margin-left: 50px;
    width: 500px;
}

.title-container {
    padding: 30px 30px 0px 200px;
    display: flex;
    justify-content: space-between;
}

header {
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}